@import "foundation/base";
@import "foundation/general";
@import "layout/common";
@import "layout/footer";
@import "object/top";
@import "object/profile";
@import "object/study";
@import "object/achievement";
@import "object/english";
