.profile {
    .image {
        text-align: center;
        margin-top: 100px;
        @media print, screen and (max-width: 1000px) {
            margin-right: 60px;
            margin-left: 30px;
        }
        img {
            width: 700px;
            box-shadow: 30px 30px 0 lightblue;
        }
    }
    .profile-text {
        margin-top: 100px;
    }

    .profile-desc {
        width: 1000px;
        margin-top: 30px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 50px;
        padding-left: 50px;
        box-shadow: 0 0 10px #00000029;
        @media print, screen and (max-width: 1100px) {
            width: 800px;
            padding-right: 30px;
            padding-left: 30px;
        }
        @media print, screen and (max-width: 900px) {
            width: 600px;
        }
        @media print, screen and (max-width: 680px) {
            width: 500px;
        }
        @media print, screen and (max-width: 570px) {
            width: 400px;
        }
        @media print, screen and (max-width: 470px) {
            width: 350px;
            padding-right: 15px;
            padding-left: 15px;
        }
        @media print, screen and (max-width: 420px) {
            width: 300px;
        }
        p {
            font-size: 16px;
            @media print, screen and (min-width: 570px) and (max-width: 680px) {
                .br {
                    display: inline-block;
                }
                .sp {
                    display: none;
                }
            }
            @media print, screen and (max-width: 570px) {
                font-size: 14px;
                .sp {
                    display: none;
                }
            }
            @media print, screen and (max-width: 420px) {
                font-size: 14px;
            }
        }
    }
    table {
        border-collapse: collapse;
        color: #333; /* 全体の文字色 */
        background-color: #f0f2f7; /* 全体の背景色 */

        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        margin-bottom: 50px;
        @media print, screen and (max-width: 1000px) {
            width: 800px;
        }
        @media print, screen and (max-width: 800px) {
            width: 700px;
        }
        @media print, screen and (max-width: 700px) {
            width: 650px;
        }
        @media print, screen and (max-width: 650px) {
            width: 600px;
        }
        @media print, screen and (max-width: 600px) {
            width: 500px;
        }
        @media print, screen and (max-width: 500px) {
            width: 450px;
        }
        @media print, screen and (max-width: 450px) {
            width: 365px;
        }
    }
    td {
        padding: 10px 15px;
        border: solid 1px #adb3c1;
        @media print, screen and (max-width: 700px) {
            padding: 10px 5px;
            font-size: 2vw;
        }
        @media print, screen and (max-width: 400px) {
            font-size: 1.5vw;
        }
    }
    .center {
        text-align: center;
    }
    .table-sp {
        @media print, screen and (min-width: 450px) {
            display: none;
        }
    }
}
