.top {
    background-image: url(../img/school.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    .header-btn {
        padding-top: 30px;
        display: flex;
        justify-content: end;
        margin-right: 20px;

        @include overTab {
            margin-right: 50px;
        }
    }
    .btn {
        a {
            color: #000;
            text-decoration: none;
            background-color: #fff;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 20px;
            padding-left: 20px;
            border-radius: 30px;
            &:hover {
                background-color: #fa9786;
            }
        }
    }
    .header {
        position: relative;
    }
    .header-fixed {
        display: flex;
        padding-right: 50px;
        padding-top: 40px;
        padding-bottom: 30px;
        background-color: rgba(19, 158, 223, 0.72);
        width: 100%;
        z-index: 2;
        margin-left: auto;
        text-align: right;
        margin-top: 50px;
        @include overTab {
            padding-bottom: 30px;
            background: transparent;
            margin-top: 0;
        }
    }
    .nav-btn {
        width: 52px;
        height: 30px;
        margin-right: 30px;
        appearance: none;
        background: transparent;
        border: none;
        font: inherit;
        outline: none;
        position: relative;
        right: 30px;
        margin-left: auto;
        @include overTab {
            display: none;
        }
        &.-active {
            span {
                top: 0;
                bottom: 0;
                margin: auto;
                transition: transform 0.3s ease;
                &:first-child {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    transform: rotate(45deg);
                }
                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
        span {
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #fff;
            display: block;
            transition: transform 0.3s ease;
            &:first-child {
                top: 0;
            }
            &:nth-child(2) {
                top: 0;
                bottom: 0;
                margin: auto;
            }
            &:last-child {
                bottom: 0;
            }
        }
    }
    .nav {
        left: 0;
        top: 0;
        width: 100%;
        background-color: rgba(19, 158, 223, 0.72);
        padding-bottom: 20px;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease;
        @include overTab {
            //position: static;
            background-color: transparent;
            padding-top: 0;
            margin-top: 0;
            z-index: 3;
            top: 30px;
            opacity: 1;
            visibility: visible;
        }
        &.-active {
            opacity: 1;
            visibility: visible;
            transition: opacity 1s ease;
        }
    }
    .nav-wrap {
        @include overTab {
            position: relative;
        }
    }
    .main-item {
        top: 20px;
        left: 20px;
        position: absolute;
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        line-height: 1.2;
        &.-active {
            visibility: hidden;
            opacity: 0;
        }
        @include overTab {
            font-size: 20px;
            position: absolute;
            top: 95px;
            z-index: 100;
            left: 30px;
            color: #fff;
            font-weight: bold;
            line-height: 1.2;
        }
    }
    .nav-list {
        text-align: center;
        margin-bottom: 20px;

        @include overTab {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 0;
            background-color: rgba(19, 158, 223, 0.72);
        }
        .item {
            @include overTab {
                margin-right: 50px;
            }
            + .item {
                margin-top: 40px;
                @include overTab {
                    padding-left: 30px;
                    margin-top: 0;
                }
            }
        }
        a {
            color: #fff;
            font-size: 20px;
            text-decoration: none;
            transition: background-color 0.2s linear;
            display: block;
            padding: 50px 10px;
            &:hover {
                background-color: #fa9786;
            }
        }
    }
}
.image {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    @media print, screen and (max-width: 1000px) {
        margin-right: 60px;
        margin-left: 30px;
    }
    img {
        width: 700px;
        box-shadow: 30px 30px 0 lightblue;
    }
}
.text {
    .desc {
        background-color: #f1f8fe;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
        @media print, screen and (max-width: 1000px) {
            margin-right: 10px;
            margin-left: 10px;
        }

        p {
            text-align: center;
            line-height: 2;
            font-size: 16px;
            background-color: #fff;
            padding-top: 50px;
            padding-bottom: 50px;
            margin-right: 30px;
            margin-left: 30px;
            @media print, screen and (max-width: 1100px) {
                margin-right: 10px;
                margin-left: 10px;
            }
            @media print, screen and (max-width: 570px) {
                font-size: 14px;
            }
        }
    }
    .br {
        display: inline-block;
    }
    .sp {
        @media print, screen and (max-width: 450px) {
            display: none;
        }
    }
}
