.cmn-title {
    margin-top: 50px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    @media print, screen and (max-width: 1000px) {
        width: 800px;
    }
    @media print, screen and (max-width: 800px) {
        width: 600px;
    }
    @media print, screen and (max-width: 600px) {
        width: 400px;
    }
    @media print, screen and (max-width: 400px) {
        width: 300px;
    }
    p {
        border-left: 14px solid lightblue;
        border-bottom: 2px dotted lightblue;
        color: #000;
        font-size: 24px;
        font-weight: bold;
        padding: 5px 15px;
        margin-bottom: 30px;
        line-height: 1.5;
        @media print, screen and (max-width: 500px) {
            font-size: 18px;
        }
    }
}

.cmn-subtitle {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;

    p {
        font-size: 24px;
        font-weight: bold;
        position: relative;
        padding: 1.5rem 2rem;
        color: #fff;
        border-radius: 10px;
        background: lightblue;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        text-shadow: 2px 2px 0 #000;
        @media print, screen and (max-width: 900px) {
            width: 600px;
        }
        @media print, screen and (max-width: 730px) {
            width: 450px;
        }
        @media print, screen and (max-width: 570px) {
            width: auto;
        }
        @media print, screen and (max-width: 500px) {
            width: 230px;
            font-size: 14px;
        }

        &::after {
            position: absolute;
            bottom: -9px;
            left: 1em;
            width: 0;
            height: 0;
            content: "";
            border-width: 10px 10px 0 10px;
            border-style: solid;
            border-color: lightblue transparent transparent transparent;
        }
    }
}
